
{% if nginx_vhost_mode == 'reverse' %}
server {
    listen {{ nginx_listen_port }};
    server_name _;
    location / {
        proxy_pass  http://127.0.0.1:{{ nginx_reverse_proxy_port }};
        proxy_redirect     off;
        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_max_temp_file_size 0;
        proxy_connect_timeout      90;
        proxy_send_timeout         90;
        proxy_read_timeout         90;
        proxy_buffer_size          4k;
        proxy_buffers              4 32k;
        proxy_busy_buffers_size    64k;
        proxy_temp_file_write_size 64k;
   }
   {% if nginx_appname == 'example' %}
      error_log /var/log/nginx/www.example.com-error.log error;
      access_log  /var/log/nginx/www.example.com-access.log;
   {% endif %}
   {% if nginx_appname != 'example' %}
      error_log /var/log/nginx/{{nginx_appname}}.yourdomain.com-error.log error;
      access_log  /var/log/nginx/{{nginx_appname}}.yourdomain.com-access.log;
   {% endif %}

   include extra/*.conf;
}
{% endif %}

{% if nginx_vhost_mode == 'www' %}
server
{
    listen 80;
    # server_name support more than two domains, example : domain1 domain2 domain3
    {% if nginx_appname == 'example' %}
      server_name www.example.com;
    {% endif %}
    {% if nginx_appname != 'example' %}
      server_name {{nginx_appname}}.yourdomain.com;
    {% endif %}
     
    index index.html index.htm index.php; 
    {% if nginx_appname == 'example' %}
      root  /data/wwwroot/www.example.com; 
      error_log /var/log/nginx/www.example.com-error.log error;
      access_log  /var/log/nginx/www.example.com-access.log;
    {% endif %}
    {% if nginx_appname != 'example' %}
      root  /data/wwwroot/{{nginx_appname}}.yourdomain.com; 
      error_log /var/log/nginx/{{nginx_appname}}.yourdomain.com-error.log error;
      access_log  /var/log/nginx/{{nginx_appname}}.yourdomain.com-access.log;
    {% endif %}    

    include extra/*.conf;
    include conf.d/rewrite/{{nginx_appname}}.conf;


#------------- SSL Start --------------


#------------- SSL End  ---------------
}
{% endif %}

{% if nginx_vhost_mode == 'alias' %}
{% if nginx_appname == 'example' %}
Alias /app1 "/data/wwwroot/www.example.com"
<Directory "/data/wwwroot/www.example.com">
{% endif %}
{% if nginx_appname != 'example' %}
Alias /app1 "/data/wwwroot/{{nginx_appname}}.yourdomain.com"
<Directory "/data/wwwroot/{{nginx_appname}}.yourdomain.com">
{% endif %}   
    Options Indexes FollowSymLinks MultiViews
    AllowOverride all
    Require all granted
</Directory>
{% endif %}
